
$primary-normal: #22262b;
$primary-dark: #000000;
$primary-light: #a7a7a7;


$sencondary-normal: #2b2e31;
$sencondary-dark: #000000;
$sencondary-light: #1a1f25;

$sencondary-normal: #232224;
$sencondary-dark: #161617;
$sencondary-light: #353436;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;
